# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env

# Mac
.DS_Store

# Front (si/quad tu remets React)
front/node_modules/
front/dist/

# Modèles lourds (choisir A ou B ci-dessous)
pretrained_model/*.dat
