# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.venv/
.env

# Mac
.DS_Store

# Backend models (gros fichiers) – on les ignore par défaut
back/face_api/pretrained_model/*.dat

# Front
front/node_modules/
front/dist/

# Root node_modules
node_modules/

# Compiled binaries & build artifacts
*.so
*.dylib
*.whl
