# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env

# Mac
.DS_Store

# Backend models (gros fichiers) – on les ignore par défaut
back/face_api/pretrained_model/*.dat

# Front
front/node_modules/
front/dist/
EOF
